---
version: "2.0"

services:
  akash:
    image: ghcr.io/ovrclk/akash-on-akash:v0.0.8
    env:
      # - STATE_SYNC=1
      - SEEDS_URL=https://raw.githubusercontent.com/ovrclk/net/master/mainnet/seed-nodes.txt
      - SYNC_URL=https://raw.githubusercontent.com/ovrclk/net/master/mainnet/rpc-nodes.txt
      - GENESIS_URL=https://raw.githubusercontent.com/ovrclk/net/master/mainnet/genesis.json
      - ENABLE_ID_SERVER=true
      # - AKASH_PRUNING=custom
      # - AKASH_PRUNING_INTERVAL=10
      # - AKASH_PRUNING_KEEP_EVERY=50
      # - AKASH_PRUNING_KEEP_RECENT=10
      # - AKASH_STATE_SYNC_SNAPSHOT_INTERVAL=50
      # - AKASH_STATE_SYNC_KEEP_RECENT=10
      # - AKASH_SEED_MODE=true
    expose:
      - port: 8080
        as: 80
        to:
          - global: true
      - port: 26657
        to:
          - global: true
      - port: 26656
        to:
          - global: true
      - port: 1317
        to:
          - global: true
      - port: 9090
        to:
          - global: true

profiles:
  compute:
    akash:
      resources:
        cpu:
          units: 1
        memory:
          size: 2Gi
        storage:
          size: 32Gi
  placement:
    dcloud:
      attributes:
        host: akash
        signedBy:
          anyOf:
            - akash1365yvmc4s7awdyj3n2sav7xfx76adc6dnmlx63
      pricing:
        akash: 
          denom: uakt
          amount: 100

deployment:
  akash:
    dcloud:
      profile: akash
      count: 1
